body {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    margin: 0%;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #828283;
}
a {
    color: #0065FC;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}
b {
    font-family: 'Raleway', sans-serif;
    color: #000;
}
.bleu {
    color: #0065FC;
}
.gris {
    color: #efefef;
}
.Frodon {
    grid-column: 2/3;
}
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) 
{
    body{
        display: block;
        margin: 0;
    }
    h1 {
        font-weight: 700;
        font-size: 50px;
        margin: 0;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 35px;
    }
}
@media screen and (max-width: 1000px) {
    h3 {
        font-size: 35px;
    }
}
@media only screen and (min-width: 375px)
{    
    .hidedesk {
        display: none;
    }
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}
.logo {
    min-width: 100px;
    padding: 15px;
}
.menu {
    display: flex;
    justify-content: right;
    margin-right: 2%;
}
.menu-item {
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.menu-item:hover {
    box-shadow: inset 0px 3px 0px 0px rgba(0,101,252,1);
} 
#menu-item-link {
    color: #494949;
}
#menu-item-link:hover {
    color: #0065FC;
}
.register {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) 
{
    .logo {
        width: 30%;
        margin-left: 30px;
    }
    .menu-resp {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    .menu-item {
        visibility: hidden;
    }
    .menu-item-resp {
        display: block;
        width: 50%;
        padding: 20px;
        text-align: center;
        box-shadow: -1px 6px 0px -1px rgba(239,239,239,1);
    }
    .menu-item-resp:active {
        box-shadow: -1px 6px 0px -1px rgba(0,101,252,1);
    }
    #menu-item-link-resp {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 10px;
        color: #494949
    }
    #menu-item-link-resp:active {
        color: #0065fc;
    }
    .register {
        margin-right: 50px;
        padding-top: 50px;
    }
    #register {
        font-size: 40px;
    }
}

/* Geo Search */
#h2-geo {
    color: #494949;
}
.geo-search-section {
    grid-row: 2/2;
    padding: 20px;
}
.geo-search {
    display: flex;
}
.button-gps {
    background-color: #efefef;
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
}
.input-gps {
    width: 250px;
    border: 1px #efefef solid;
}
.input-gps:focus-visible {
    outline: none;
}
.fa-map-marker-alt {
    text-align: center;
}
.button-search {
    background-color: #0065FC;
    border: none;
    font-family: 'Raleway', sans-serif;
    color : #fff;
    border-radius: 0px 10px 10px 0px;
}
.button-search:hover {
    box-shadow: inset 0px 0px 36px 0px rgba(0,0,0,0.25);
}
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) 
{
    .geo-search-section {
        padding: 40px;
    }
    .argument {
        width: 85%;
    }
    .geo-search {
        display: none;
    }
    .geo-search-resp {
        display: flex;
    }
    .button-gps-resp {
        background-color: #efefef;
        padding: 5%;
        text-align: center;
        border-radius: 30px 0px 0px 30px;
    }
    .input-gps-resp {
        width: 80%;
        padding: 50px 22px;
        border: 1px #efefef solid;
    }
    .input-gps-resp:focus-visible {
        outline: none;
    }
    .button-search-resp {
        background-color: #0065FC;
        border: none;
        padding: 5%;
        font-size: 50px;
        color: #fff;
        border-radius: 0px 30px 30px 0px;
    }
    .fa-map-marker-alt {
    font-size: 50px;
    }
}

/* filtres */ 

.filtre-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px 20px 0px 20px;
}
.filtre-titre {
    font-size: 12px;
    padding-top: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtre-block {
    display: flex;
    flex-wrap: wrap;
}
.filtre-div {
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    border: #d9d9d9 2px solid;
    border-radius: 30px;
    margin-right: 10px;
}
.filtre-div:hover {
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.05);   
}
.button-filtre {
    display: flex;
    border-radius: 0px 25px 25px 0px;;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    border: none;
    line-height: 20px;
    padding: 10px;
}
.icon-filtre {
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    width: 40px;
    background-color: #DEEBFF;
}
.fa-money-bill-wave {
    color: #0065fc;
}
.fa-child {
    color: #0065FC;
}
.fa-heart {
    color: #0065FC;
}
.fa-dog {
    color: #0065FC;
}
.fa-info-circle {
    color: #0065FC;
}
.info {
    padding: 10px 20px 20px 20px;
}
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) 
{
    .filtre-section {
        flex-direction: column;
    }
    .filtre-block {
        padding: 0px 40px 0px 25px;
    }
    .filtre-titre {
        font-size: 40px;
        padding-top: 15px;
        margin-left: 30px;
        font-weight: 800;
    }
    .filtre {
        flex-direction: column;
    }
    .button-filtre {
        display: flex;
        background-color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 47px;
        border-radius: 50px;
        line-height: 20px;
        padding: 40px;
    }
    .icon-filtre {
        display: block;
        text-align: center;
        line-height: 100px;
        font-size: 40px;
        border-radius: 50px;
        width: 100px;
        background-color: #DEEBFF;
    }
    .filtre-div {
        display: flex;
        margin-top: 10px;
        background-color: #fff;
        border: #d9d9d9 3px solid;
        border-radius: 50px;
        margin-right: 10px;
    }
    .fa-info-circle {
        color: #0065FC;
        padding-right: 30px;
    }
    .info {
        padding: 20px 0px 20px 50px;
    }
}
/* Mid */
    .mid {
        display: flex;
        column-gap: 5%;
        margin-bottom: 2%;
    }
/* Hébergement */

.heb-block {
    width: 60%;
    background-color: #efefef;
    border-radius: 20px;
    padding: 1%;
}
.titre-heb {
    padding-left: 15px;
}
.heb-row-1 {
    display: flex;
    justify-content: space-around;
}
.heb-row-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
.heb-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    max-width: 30%;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}
.heb-card:hover {
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.15);
}
.heb-img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.titre-heb-card {
    margin-top: 5px;
    margin-bottom: 0px;
    color:#000;
}
.titre-heb-card:hover {
    color: #0065FC;
}
.description-heb-card {
    margin-top: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.prix-heb {
    margin-top: 5px;
    margin-bottom: 0px;
}
.fa-star {
    font-size: 12px;
    margin-top: 5px;
}
.more {
    padding-left: 15px;
    color: #000;
    font-weight: 700;
}

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2)  
{
    .heb-block:nth-child(1) {
        order: 2;
    }
    .mid {
        flex-direction: column;
    }
    .heb-block {
        min-width: 100%;
    }
    .heb-row-1 {
        flex-direction: column;
    }
    .heb-row-2 {
        display: none;
    }
    .heb-card {
        max-width: 100%;
        margin: 5%;
    }
    .prix-heb {
        margin-top: 15px;
        font-size: 28px;
    }
    .heb-img {
        height: 300px;
    }
    .fa-star {
        font-size: 25px;
        margin-top: 20px;
    }
    .description-heb-card {
        padding-bottom: 30px;
    }
    .titre-heb-card {
        margin-top: 10px;
    }
    .heb-block {
        background-color: #fff;
    }
    .pop-block {
        width: 100%;
    }
}
@media screen and (max-width: 1000px)
{
    .heb-block:nth-child(1) {
        order: 2;
    }
    .mid {
        flex-direction: column;
    }
    
    .heb-block {
        min-width: 100%;
    }
    .heb-row-1 {
        flex-direction: column;
    }
    .heb-row-2 {
        display: none;
    }
    .heb-card {
        max-width: 100%;
        margin: 5%;
    }
    .prix-heb {
        font-size: 28px;
    }
    .heb-img {
        height: 300px;
    }
    .fa-star {
        font-size: 25px;
        margin-top: 20px;
    }
    .description-heb-card {
        padding-bottom: 30px;
    }
    .titre-heb-card {
        margin-top: 10px;
    }
    .heb-block {
        background-color: #fff;
    }
    .pop-block {
        width: 100%;
    }
}


/* Populaire */

.pop-block {
    display: flex;
    width: 40%;
    padding-bottom: 2%;
    border-radius: 20px;
    justify-content: center;
    background-color: #efefef;
}
.titre-head-pop {
    margin-left: 25px;
}
.titre-pop {
    color: #000;
}
.titre-pop:hover {
    color: #0065FC;
}
.head-pop {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}
.card-pop {
    display: flex;
    padding: 5px;
    margin-top: 5%;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.05);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px 10px 10px 10px;
}
.card-pop:hover {
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.15);
}
.fa-chart-line {
    padding-right: 7%;
    line-height: 45px;
    font-size: 18px;
}
.img-pop {
    object-fit: cover;
    max-width: 40%;
    min-width: 200px;
    height: 160px;
    border-radius: 10px 0px 0px 10px;
}
.description-pop {
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
    flex-direction: column;
}
.note-pop {
    display: flex;
    align-items: flex-end
}
.pop {
    display: flex;
    flex-direction: column;
}
.pop-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-top: 2%;
}

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2)  
{
    .heb-block:nth-child(2) {
        order: 1;
    }
    .pop-block {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) 
{
    .mid {
        flex-direction: column;
    }
    .heb-block:nth-child(2) {
        order: 1;
    }
    .pop-block {
        width: 100%;
    }
}

/* Activités */

.act {
    display: grid;
    width: 100%;
    height: 500px;
    margin-top: 2%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}
.act-block-big-1 {
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.act-block-big-2 {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.act-block-1 {
    display: flex;
    grid-template-rows: 50% 50%;
    margin-right: 4%;
    grid-row: 1/1;
    grid-column: 2/4;
    flex-direction: column;
}
.act-block-2 {
    display: flex;
    flex-direction: column;
    grid-template-rows: 50% 50%;
    margin-left: 4%;
    grid-row: 1/1;
    grid-column: 4/4;
}
.act-item-1 {
    display: flex;
    flex-direction: column;
    height: 50%;
}
.act-item-2 {
    display: flex;
    flex-direction: column;
    height: 50%;
}
.act-img-big {
    display: flex;
    object-fit: cover;
    width: 32%;
    height: 90%;
}
.act-img-big-2 {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 90%;
}
.act-img-1 {
    object-fit: cover;
    width: 50%;
    height: 80%;
}
.act-img-2 {
    object-fit: cover;
    width: 100%;
    height: 80%;
}
.act-titre {
    margin: 0;
    padding-left: 15px;
}





footer {
    background-color: #d9d9d9;
}